<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pico Admin</title>
</head>

<body>
	<form>
		<h1>Create Route</h1>
		<label for="routePath">Route Path:</label>
		<input type="text" id="routePath" name="routePath" required>
		<br><br>
		<label for="httpMethod">HTTP Methods:</label>
		<label for="get">GET</label>
		<input type="checkbox" id="get" name="httpMethod" value="GET">
		<label for="post">POST</label>
		<input type="checkbox" id="post" name="httpMethod" value="POST">
		<label for="put">PUT</label>
		<input type="checkbox" id="put" name="httpMethod" value="PUT">
		<input type="checkbox" id="delete" name="httpMethod" value="DELETE">
		<label for="delete">DELETE</label>
		<br><br>
		<button type="submit">Create Route</button>

	</form>

</body>

</html>
